
div {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	font-family: 'Roboto Mono', monospace;
  }
  
  .example-1 .form-group{padding:1em;margin:1em}
  .example-1 input[type=file]{outline:0;pointer-events:none;user-select:none}
  .example-1 .label{width:250px;border:2px dashed grey;border-radius:5px;display:block;padding:1.2em;transition:border 300ms ease;cursor:pointer;text-align:center}
  .example-1 .label i{display:block;font-size:42px;padding-bottom:16px}
  .example-1 .label i,.example-1 .label .title{color:grey;transition:200ms color}
  .example-1 .label:hover{border:2px solid #000}
  .example-1 .label:hover i,.example-1 .label:hover .title{color:#000}
  
  input[type=submit] {
	background-color: #47c5aa;
	border: none;
	padding: 16px 32px;
	text-decoration: none;
	align-items: center;
	cursor: pointer;
	margin-left: 30%;
    border-radius: 5px; /* Уголки */
  }


  .d7:after {content:""; clear:both; display:table}
.d7 form {
  width: auto;
  float: right;
  margin-right: 30px;
}
.d7 input {
  width: 250px;
  height: 42px;
  padding-left: 15px;
  border-radius: 42px;
  border: 2px solid #324b4e;
  background: #F9F0DA;
  outline: none;
  position: relative;
  transition: .3s linear;
  background-color: #bee4dc;
}
.d7 input:focus {
  width: 300px;
}
.d7 button {
  width: 42px;
  height: 42px;
  background: none;
  border: none;
  position: absolute;
  top: -2px;
  right: 0;
}
.d7 button:before{
  content: "\f002";
  font-family: FontAwesome;
  color: #324b4e;
}
