<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="static/add_photo.css" />
    <title>Команда 10</title>
</head>
<body>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <div>
    <form action="" method="post" enctype="multipart/form-data">
        <h1>Добавьте фотографию</h1>
        <div class="example-1">
            <div class="form-group">
              <label class="label">
                <i class="material-icons">attach_file</i>
                <input type="file" accept="image/*">
              </label>
            </div>
          </div>
            </br></br>
            <input type="submit" value="Загрузить" name="submit">
    </form>
    </div>
</body>
</html>