<html>
  <head>
      <meta charset="UTF-8">
    <title>File Upload</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.js"></script>
  </head>
  <body>
    <h1>File Upload</h1>
    <form action="{{ url_for('upload_files') }}" class="dropzone">
    </form>

    <form method="GET" action={{url_for('upload_files')}}>
		<input placeholder="Поиск" type="search">
		<input type="submit">
	</form>

  </body>
</html>