<!DOCTYPE html>
<html lang="en">
<head>
    <title>Команда 10</title>
    <link rel="stylesheet" href="static/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.js"></script>
</head>
<body>

    <div class="split leftS">
      <div class="centeredLS">
        <h1>Сохранение кадров видео</h1>
        <img src="{{ url_for('video_feed') }}" width="100%"> </br></br>
        <a href="{{ url_for('index') }}", class="s13">Вернуться к загрузке фото</a>
      </div>
    </div>

    <div class="split right">
      <div class="centeredR">
        <form method="GET" action={{url_for('display_video')}}>
          <div class="d7"><input placeholder="Поиск по id или имени + Enter" name="id" type="search" onkeyup="filtration()" ></div>
	    </form>

        {% if filename %}
          <img src="{{ url_for('send_file_video', filename=filename) }}" />
        {% else %}
          <h1>...</h1>
        {% endif %}

        <br>
        <br>
        <form method="GET" action={{url_for('get_value_video')}}>
          <input type="submit" value="Вывод информации о фотографиях ">
	    </form>
         {% if value %}
            <table>
              <tr><th>Номер</th><th>Id</th><th>Имя файла</th></tr>
              {%for i in range(0, len)%}
              <tr><td>{{i}}</td><td>{{value[i][0]}}</td><td>{{value[i][1]}}</td></tr>
              {%endfor%}
            </table>
          {% else %}
          {% endif %}

      </div>
    </div>




</body>
</html>

